.panel.panel-default
  .panel-heading
    .panel-body
    %h2 Profile
    %p
      %b Firstname:
      = user.firstname
    %p
      %b Lastname:
      = user.lastname
    %p
      %b E-mail:
      = user.email
    %p
      %b Admin:
      = user.admin

      .panel-footer
        .table-responsive
        %table.table.table-striped.table-hover.table-condensed
          %tr
            %th Category
            %th Product
            %th Rating
            %th Content
            %th Created
          - @reviews.each do |review|
            %tr
              %td= review.product.category.name
              %td= review.product.title
              %td= review.rating
              %td= review.content
              %td= review.created_at.strftime("%d/%m/%y")
        -#= link_to 'Back', users_path, class: 'btnnavi btn btn-primary'

= link_to 'Home', root_path, class: 'btnnavi btn btn-primary'
