.panel.panel-default
  .panel-heading
    %h2 Listing categories
  .panel-body

    .panel.panel-default
      .table-responsive
        %table.table.table-striped.table-hover.table-condensed
          %tr
            %th Name
            %th
            %th
            %th
          - categories.each do |category|
            %tr
              %td= category.name
              %td
                %span.glyphicon.glyphicon-eye-open
                = link_to 'Show', category,  class: "lbl-size label label-default"
                - if (signed_in?(:user) && current_user.admin) || (signed_in?(:user) && current_user.id==product.user_id)
                  %td
                    %span.glyphicon.glyphicon-edit
                      = link_to 'Edit', edit_category_path(category),  class: "lbl-size label label-success"
                  %td
                    %span.glyphicon.glyphicon-minus-sign
                      = link_to 'Destroy', category,  class: "lbl-size label label-danger", method: :delete, data: { confirm: 'Are you sure?' }
                - else
                  %td
                  %td
      .panel-footer Categories count: #{@categoryCount}









    %br
    - if signed_in?(:user)
      - if current_user.admin?
        = link_to 'New Category', new_category_path,  class: "btn btn-primary"
