%p#notice= notice
.panel.panel-default
  .panel-heading

    .panel-body

    %p
      %b Name:
      = category.name

    %p
      - category.products.each do |product|
        = product.title

    %p
      %h3 New product
      = render 'products/form'

    = link_to 'Edit', edit_category_path(category), class: 'btnnavi btn btn-primary'
    \|
    = link_to 'Back', categories_path, class: 'btnnavi btn btn-primary'
