!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    - if notice
      %p.alert.alert-success= notice
    - if alert || flash[:error]
      %p.alert.alert-danger= alert || flash[:error]

    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %span.navbar-brand
            = link_to AppConfig.workshops_name, root_path , class: 'btnnavi btn btn-primary'#, class: 'label label-primary'
        %p.navbar-text.navbar-right
          - if user_signed_in?
            = succeed "" do
              %strong
                = link_to 'Logged in as ' + current_user.email, edit_user_registration_path, :class => 'btnnavi btn btn-success'
            \#{link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btnnavi btn btn-primary'}
          - else
            = link_to "Sign up", new_user_registration_path, :class => 'btnnavi btn btn-primary'
            \#{link_to "Login", new_user_session_path, :class => 'btnnavi btn btn-primary'}

    .container-fluid
      .row
        .col-lg-12
          = yield
    %footer
      %p#whomade= link_to "by hy37id","https://github.com/hy37id/workshops", target: "_blank"